@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">COMP2084 Final Exam</h1>
    <p>Please push your solution to GitHub (and deploy to Azure if possible).</p>
    <p>Movie Poster images courtesy of <a href="https://wikipedia.org">Wikipedia</a>.</p>
</div>
